# Thumbnails
Thumbs.db

# Python cache
__pycache__/

# PyCharm config
.idea/

# Folders generated on the fly
backup/
cache/
data/

# SENSITIVE FILES
redis.bat

# Match all conf files except .example files
*.conf
!*.conf.example
# All config files
*.ini
!*.ini.example
