# Thumbnails
Thumbs.db

# Python cache
__pycache__/

# PyCharm config
.idea/
venv/

# Folders generated on the fly
backup/
cache/

# SENSITIVE FILES
redis.bat

# Match all conf files except .example files
*.conf
!*.conf.example

# All config files, dbs, ...
*.ini
!*.ini.example

*.old
*.rdb

# Logs
data/bugs.txt
data/log.txt

!docker/*.conf
