aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
discord.py==1.5.1
fuzzywuzzy==0.18.0
giphypop==0.3
idna==2.10
multidict==4.7.6
pillow==8.0.1
psutil==5.7.3
python-levenshtein==0.12.0
python-rapidjson==0.9.4
redis==3.5.3
requests==2.25.0
soupsieve==2.0.1; python_version >= "3.0"
urllib3==1.26.2
yarl==1.5.1
