##
# REDIS CONFIGURATION
# (redis data)
##

##### NETWORK #####

bind localhost
port 6382

##### SNAPSHOTTING #####

save ""
save 900 1
save 300 5
save 60 35
save 30 50

rdbcompression yes
rdbchecksum yes

dbfilename data.rdb

##
# Modify this value!
##
dir path-to-nano-dir/data/
