##
# REDIS CONFIGURATION
# (redis cache)
##

##### NETWORK #####

bind localhost
port 6383

##### SNAPSHOTTING #####

save ""
save 900 1
save 500 5
save 120 35
save 60 50

rdbcompression yes
rdbchecksum yes

dbfilename cache.rdb

##
# Modify this value!
##
dir path-to-nano-dir/data/
