[Credentials]
token = 

[Settings]
ownerid = 

[Dev]
server =

[Redis]
# Setup types:
# manual = uses values below or defaults if empty
# environment = uses environment variables REDIS_HOST, REDIS_PORT and REDIS_PASS
setup = manual
ip = localhost
port = 6379
password =

[RedisCache]
# Setup types:
# manual = uses values below or defaults if empty
# environment = uses environment variables REDIS_CACHE_HOST, REDIS_CACHE_PORT and REDIS_CACHE_PASSs
setup = manual
ip =
port =
password =
